<div class="container">


  <div class="row">

    <div class="col-lg-10">
      <h1>Products</h1>

      <div>
        <%= link_to 'New Product', new_product_path, class:"btn btn-primary", style:"color: #fff" %>
      </div>

      <br>
    </div>

    <div class="col-lg-10 offset-lg-2">

      <p id="notice">
        <%= notice %>
      </p>

      <table class="table">
        <thead class="text-center">
          <tr>
            <th>Nombre</th>
            <th>Categorias</th>
            <th>Precio</th>
            <th>Opciones</th>
          </tr>
        </thead>

        <tbody class="text-center">
          <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
                <% product.categories.each_with_index do |category, index|%>
                  <%= category.name %>
                  <%= index < product.categories.length-1 ? "," : "" %>
                <%end%>
              </td>
            <td>
              <%= product.price %>
            </td>
            <td>
              <%= link_to 'Show', product %>
              <%= link_to 'Edit', edit_product_path(product) %>
              <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>
</div>